<h2 class="screen-align">Updatedata</h2>
<div class="">
    <div id="template-ih5t" class="gjs-row">
        <div id="template-i2aw" class="gjs-cell">
            <label id="template-isex" class="">name</label>
            <input type="text" id="template-i8k5" placeholder="enter name"
            [(ngModel)]="students.name" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
            <div type="button" id="template-ibquk" (click)="Update()" class="btn btn-primary ">update</div>
        </div>
        <div id="template-iimu" class="gjs-cell">
            <label id="template-is4n" class="">email</label>
            <input type="text" id="template-i3ed" [(ngModel)]="students.email"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>